
##
## Visual Studio Code
##
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

game

output.g.c
output.raddbg
output.exp

*.exe
*.dll
*.lib
*.o
*.ilk
*.pdb
